body {
    font-family: "Public Sans";
    color: #0000FF;
    margin: 0;
}

header > aside {
    color: #FFFCFC;
}

main > section#Home_Page_section > section {
    color: #FFFCFC;
}

main > section > section > p {
    color: blue;

}

#About_Me_Section > section > div:nth-child(2) > div > p {
    color: black;
}

#Services_section > div > blockquote {
    color: black;
}

#Services_section > div > cite {
    color: black;
}


main > section:nth-child(3) > p {
    color: blue;
}

main > section:nth-child(4) > h2 {
    color: black;
}

main > section:nth-child(4) > p {
    color: blue;
}

main > section:nth-child(5) > h2 {
    color: black;
}

main > section:nth-child(5) > p {
    color: blue;
}

footer {
    color: black;
}

#Home_Page_section {
    background-color: #1e90ff;
    height: 100vh;
}
/*skill levels bars container*/
.containerBar{
    border: 5px solid red;
    position: absolute;
    height: 1.5vh;
    width: 24vw;
    border-radius: 20px;
}

/*===============================================================header===============================================*/
header {
    font-family: "Public Sans";
    color: #417bee;
    position: fixed;
    width: 100vw;
    height: 9vh;
    z-index: 100;
    background-color:#1e90ff ;
}


header > aside > ul {
    font-family: "Public Sans";
    color: #fffcfc;
    position: absolute;
    top: 17px;
    right: 0;
}

header > aside > ul > li {
    list-style: none;
    display: inline;
    margin-right: 1.5vw;
    color: white;
}

.link {
    font-family: "Public Sans";
    list-style: none;
    color: white;
    font-size: 2vh;
    text-decoration-line: none;
}

.logo {
    font-family: "Public Sans";
    color: rgb(0, 0, 255);
    height: 9vh;
}

/*================================================Home Page Picture===================================================*/
.Home_Page_picture {
    font-family: "Public Sans";
    color: #0000FF;
    position: absolute;
    margin: auto;
    right: 10vw;
    height: 95vh;
    bottom: 0%;
}

/*================================================Home Page Text======================================================*/
#Home_Page_Text_Content {
    box-sizing: border-box;
    position: absolute;
    top: 27vh;
    left: 15vw;
    color: white;
}

/*hi there*/
#Home_Page_Text_Content > p:nth-child(1) {
    font-family: 'PT Serif', serif;
    border-radius: 5px;
    height: 3vh;
    margin-right: 34vw;
    margin-bottom: 0px;
    text-align: center;
    margin-top: 0;
    padding-top: 0.5vh;
    font-style: normal;
    font-weight: bold;
    background-color: white;
    color: #3f6fff;
    width: 137px;
}

#Home_Page_Text_Content h1 {
    font-family: "Public Sans";
    color: white;
    font-size: 4em;
    font-style: normal;
    margin: 0px;
}

.animatedText{
    height:66.03px ;
    overflow:hidden ;
}
.animatedText div{
    animation: 9s typingOrder;
    animation-iteration-count: infinite;
    animation-timing-function: steps(1);
}
/*animated text*/
.animatedText span{
    position: relative;
    font-size: 58px;
    font-weight: bold;
    color: white;
    display: block;
}
.animatedText span:after{
    content: "";
    position: absolute;
    left: 0;
    height: 102%;
    border-left:2px solid black ;
    right:-2px;
    background-color: #1e90ff;
    animation: 3s typingText;
    animation-iteration-count: infinite;
    animation-timing-function: steps(10);
    animation-fill-mode: backwards;
}

@keyframes typingText {
    0%{
        left: 0;
    }
    50%{
        left: 100%;
    }
    100%{
        left: 0;
    }
}
@keyframes typingOrder {
    0%{
        margin-top: 0;
    }
    33.333%{
        margin-top: -66.03px;
    }
    66.666%{
        margin-top: -132.06px;
    }
    100%{
        margin-top: 0;
    }
}

#Home_Page_Text_Content blockquote {
    font-family: "Public Sans";
    color: white;
    width: 36vw;
    font-size: 2em;
    font-style: normal;
    margin-left: 0;
}

#Home_Page_Text_Content cite {
    font-family: "Public Sans";
    color: white;
    font-size: 2em;
    font-style: normal;
}

#naigationsIcons {
    margin: 1vw;
}

#naigationsIcons img {
    height: 5vh;
    margin-left: 0.5vw;
}

#downloadCvButten > button {
    margin-top: 1vh;
    height: 4vh;
    width: 11vw;
    border: none;
    font-family: "Public Sans";
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 20vh;
    background-color: white;
    color: #2f2fee;
    cursor: pointer;
}

/*================================================About Me Page Text==================================================*/

#aboutMePageImage {
    position: relative;
    top: 0px;
    left: 12vw;
    height: 100vh;
}

/*about me text*/
#About_Me_Section section > div:nth-child(1) {
    position: absolute;
    top: 103vh;
    right: 18vw;
    width: 34vw;
}

/*header in about me*/
#AboutMe {
    color: #0000FF;
    font-size: 3em;
    font-style: normal;
    font-family: 'PT Serif', serif;
}

/*description of about me page*/
#About_Me_Section section > div:nth-child(1) p {
    font-family: 'PT Serif', serif;
    font-size: 1.4em;
}

/*header (Education Level)*/
#About_Me_Section section > div:nth-child(2) h2 {
    font-family: "Public Sans";
    color: #0000ff;
    position: absolute;
    top: 132vh;
    right: 41vw;
    font-size: 1.9em;
}

/*education level(ijse)*/
#About_Me_Section section > div:nth-child(2) div:nth-child(2) {
    position: absolute;
    right: 10vw;
    top: 143vh;
    width: 20vw;
    border: 2px solid red;
    border-radius: 2vh;
}

/*education level(technicle college)*/
#About_Me_Section section > div:nth-child(2) div:nth-child(3) {
    position: absolute;
    right: 35vw;
    top: 158vh;
    width: 20vw;
    border: 2px solid red;
    border-radius: 2vh;
}

/*education level(president's college)*/
#About_Me_Section section > div:nth-child(2) div:nth-child(4) {
    position: absolute;
    right: 10vw;
    top: 173vh;
    width: 20vw;
    border: 2px solid red;
    border-radius: 2vh;
}

/*education level(verticleLine)*/
#verticleLine {
    border: 2px solid red;
    border-radius: 20px;
    position: absolute;
    height: 50vh;
    top: 140vh;
    right: 32.5vw;
    background-color: red;
}

/*===================================================Skill Page ======================================================*/
#Skill {
    position: absolute;
    font-style: normal;
    font-size: 3em;
    left: 45vw;
    top: 200vh;
}

/*!*my skill level*!*/
 #skillPage p:nth-child(2){
     position: absolute;
     top: 206vh;
     left: 45.5vw;
     font-size: 1.5em;
     margin: 0px;
     margin-top: 1vh;
 }
.skill li h3{
    display: inline;
}
.skill li i{
    margin-right: 9px;
    color: #0000FF;
    font-size: 20px;
}
.skill{
    width: 500px;
    margin: 60px auto;
    color: black;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
    list-style: none;
    margin-top: 97px;
}

.skill li{
    margin: 20px 0;
    padding: 10px;

}
.bar{
    background: #9d9df6;
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(0.25,0.8,0.25,1);
}

.bar:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgb(107, 135, 220) 0%, rgb(12, 34, 255) 100%);

}

.Java{
    width: 90%;
    animation: Java 3s;
}

@keyframes Java {
    from{
       width: 0%;
    }
    to{
        width: 90%;
    }
}
.Mysql{
    width: 70%;
    animation: Mysql 3s;

}
@keyframes Mysql {
    from{
        width: 0%;
    }
    to{
        width: 70%;
    }
}
.JavaScript{
    width: 3%;
    animation: JavaScript 3s;

}
@keyframes JavaScript {
    from{
        width: 0%;
    }
    to{
        width: 3%;
    }
}
.JavaFX{
    width: 95%;
    animation: JavaFX 3s;

}
@keyframes JavaFX {
    from{
        width: 0%;
    }
    to{
        width: 95%;
    }
}
.PHP{
    width: 3%;
    animation: PHP 3s;

}
@keyframes PHP {
    from{
        width: 0%;
    }
    to{
        width: 3%;
    }
}
.HTML5{
    width: 80%;
    animation: HTML5 3s;

}
@keyframes HTML5 {
    from{
        width: 0%;
    }
    to{
        width: 80%;
    }
}
.CSS{
    width: 85%;
    animation: CSS 3s;

}
@keyframes CSS {
    from{
        width: 0%;
    }
    to{
        width: 85%;
    }
}

/*===================================================Service Page ====================================================*/
#Services_section{
    position: relative;
}
/*header (Services)*/
#Services{
    position: relative;
    font-style: normal;
    font-size: 3em;
    left: 42vw;
    color: #0000ff;
}
/*Services that i provided*/
#Services_section p{
    position: absolute;
    left: 45vw;
    top: 50px;
}
.Slider{
    width: 80%;
    margin:150px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.coverBox{
    width: 400px;
    height: 400px;
    margin: 0 15px;
    transition: 0.7s;
    color: white;
    background : linear-gradient(277deg, rgba(0, 42, 241, 0.6), rgb(3, 87, 255));
    border-radius:0px 60px 0px 26px ;

}
.coverBox:hover{
    cursor: pointer;
    transform: scale(1.5);
    z-index: 3;
}
#UI\/UX_Development>img:nth-child(1){
    height:241px;
}
#Web_Development>img:nth-child(1){
    height:207px;
}
#Mobile_Development>img:nth-child(1){
    height:192px;
}
/*===================================================Projects Page ===================================================*/
#Projects_Section{
    position: relative;
}
/*heading tag*/
#Projects{
    position: relative;
    font-style: normal;
    font-size: 3em;
    left: 43vw;
    color: #0000ff;
}
/*project that i had created*/
#Projects_Section>p:nth-child(2){
    position: absolute;
    left: 44vw;
    top: 64px;
}
.externalBox{
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mainBox{
    width: 400px;
    height: 400px;
    margin: 0 15px;
    box-shadow: 0 10px 20px rgba(0, 27, 255, 0.42);
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background: linear-gradient(230deg, rgba(2, 35, 252, 0.38), rgb(49, 0, 255));
    cursor: pointer;
}

.Content{
    position: absolute;
    top: 31%;
    left: 0%;
    text-align: center;
    color: white;
}

.contentImage{
    width: 100%;
    height: 100%;

}

.mainBox:hover .overlay{
    opacity: 0.8;
}

#Projects_Section>div:nth-child(4){
    width: max-content;
    height: max-content;
    margin: 10px auto;

}
.viewMore{
    text-decoration: none;
}
/*=================================================Page Footer =====================================================*/
footer{
    position: relative;
    background: linear-gradient(187deg, rgb(255 255 255), rgb(6 7 255 / 82%));
    top: 65px;
}
footer>section{
     position: relative;
 }
/*heading*/
footer>section:nth-child(1)>h3:nth-child(1){
    position: absolute;
    left: 617px;
    top: 0px;
    font-style: normal;
    font-size: 3em;
    margin: 0;
}
dfn{
    font-style: normal;
}
/*w.c.wishvajith*/
footer>section:nth-child(1)>h3:nth-child(2){
    position: absolute;
    left: 619px;
    top: 28px;
}
/*iframe*/
footer>section:nth-child(1)>section:nth-child(3){
    position: relative;
    top: 0px;
}
/*form main section*/
footer>section:nth-child(1)>section:nth-child(4){
    position: absolute;
    left: 610px;
    top: 70px;
    height: 382px;
    display: flex;
    flex-direction: column;
}
footer>section>section:nth-child(4)>div:nth-child(1){
    width: max-content;
}
form{
    width: max-content;
}
fieldset{
    border: none;
    margin-left: -14px;
    width: max-content;
    margin-right: 0px;
    padding-right: 0;
}
/*feildset name input*/
#name{
    height: 63px;
    width: 295px;
    border: none;
    border-radius: 30px;
    font-size: 23px;
    text-align: left;
    font-weight: bold;
    padding-left: 40px;
    margin-bottom: 10px;
}
/*feildset email input*/
#email{
    height: 63px;
    width: 696px;
    border: none;
    border-radius: 30px;
    font-size: 23px;
    text-align: left;
    font-weight: bold;
    padding-left: 40px;
    margin-bottom: 10px;
}

/*feildset supject input*/
#subject{
    height: 63px;
    width: 1037px;
    border: none;
    border-radius: 30px;
    font-size: 23px;
    text-align: left;
    font-weight: bold;
    padding-left: 40px;
    margin-bottom: 10px;
}

/*fieldset message input */
#message{
    height: 114px;
    width: 1037px;
    border: none;
    border-radius: 30px;
    font-size: 23px;
    text-align: left;
    font-weight: bold;
    padding-left: 40px;
    padding-top: 23px;
}
#messageSendButten{
    margin-top: 8px;
    width: 322px;
    height: 56px;
    border-radius: 26px;
    font-size: 23px;
    font-weight: bold;
    background-color: blue;
    color: white;
}
/*!*bottom of the page*!
footer>section:nth-child(2){
    display: flex;
    flex-direction: row;

}
!*main divs of the footer section *!
footer>section:nth-child(2)>div{
    height: max-content;
}
!*Description heading*!
footer>section:nth-child(2)>div:nth-child(1)>h4:nth-child(1){
    font-size: 23px;
    margin-bottom: 0px;
    margin-top: 6px;
}

!*Description*!
footer>section:nth-child(2)>div:nth-child(1)>pre:nth-child(2){
    margin-left: -116px;
    margin-top: 3px;
    margin-bottom: 0;
}
!*NAVIGATIONS*!
footer>section:nth-child(2)>div:nth-child(1)>nav:nth-child(3){
    margin-left: 8px;
}

!*services main div*!
footer>section:nth-child(2)>div:nth-child(2){
    position: relative;
    left: 233px;
}
!*Services*!
footer>section:nth-child(2)>div:nth-child(2)>h4:nth-child(1){
    margin-bottom: 0px;
    margin-top: 3px;
}
.footerServices{
    font-family: "Public Sans";
    text-decoration: none;
    color: black;
    font-size: 23px;
}
footer>section:nth-child(2)>div:nth-child(2)>ul:nth-child(2){
    list-style: none;
}
footer>section:nth-child(2)>div:nth-child(2)>ul:nth-child(2) li{
    margin-bottom: 3px;
}
!*icons of services*!

.fas{
    margin-right: 23px;
    color: blue;
}

!*contact me main div*!
footer>section:nth-child(2)>div:nth-child(3){
    position: relative;
    left: 630px;
    height: 244px;
}
!*contact me*!
footer>section:nth-child(2)>div:nth-child(3)>h4:nth-child(1){
    margin-bottom: 0px;
    margin-top: 3px;
    font-size: 23px;
}

!*pre text of contact me*!
footer>section:nth-child(2)>div:nth-child(3)>pre:nth-child(3){
    position: absolute;
    top: 16px;
    right: 103px;
}
!*telegram image*!
footer>section:nth-child(2)>div:nth-child(3)>img:nth-child(4){
    height: 30px;
    position: absolute;
    top: 97px;
    right: 190px;
}
!*contact number*!
footer>section:nth-child(2)>div:nth-child(3)>p:nth-child(5) {
    position: absolute;
    top: 86px;
    padding-left: 37px;
    width: max-content;
    left: 1px;
}
.contactNumber{
    text-decoration: none;
    color: black;
}

!*gmail icon*!
footer>section:nth-child(2)>div:nth-child(3)>img:nth-child(6){
    height: 30px;
    position: absolute;
    top: 140px;
    right: 186px;
}
!*gmail address*!
footer>section:nth-child(2)>div:nth-child(3)>p:nth-child(7){
    position: relative;
    bottom: -63px;
    padding-left: 40px;
}
.gmailaddress{
    text-decoration: none;
    color: black;
}
footer>section:nth-child(2){
    display: flex;
    flex-direction: row;
}*/

footer>section:nth-child(2){
    display: flex;
    width: 80%;
    margin: 0 auto;
}
footer>section:nth-child(2) div{
    width: calc(100% * 1 / 3);
    position: relative;
}
footer>section:nth-child(2) div>h4:nth-child(1){
    font-size: 2rem;
}

/*footer about me description*/
footer>section:nth-child(2) div>p:nth-child(2){
    width: 69%;
    margin-bottom: 25px;
}

/*services section ul*/
footer>section:nth-child(2) div>ul:nth-child(2){
    list-style: none;
    padding: 3px;
}
/*services section ul list items*/
footer>section:nth-child(2) div>ul:nth-child(2) li{
    padding-bottom: 9px;
    padding-left: 32px;
}
.fas{
    padding-right: 7px;
}
/*contct me section*/
/*Adderss image*/
footer>section:nth-child(2)>div:nth-child(3)>img:nth-child(2){
    position: absolute;
    left: 34px;
}

/*address*/
footer>section:nth-child(2)>div:nth-child(3)>p:nth-child(3){
    width: 17%;
    position: relative;
    right: -89px;
}

/*telegram image*/
footer>section:nth-child(2)>div:nth-child(3)>img:nth-child(4){
    position: absolute;
    left: 34px;
    top: 216px;
}

/*telegrm number*/
footer>section:nth-child(2)>div:nth-child(3)>p:nth-child(5){
    position: absolute;
    left: 87px;
    top: 209px;
}
.contactNumber{
    color: black;
    text-decoration: none;
}

/*gmail imag*/
footer>section:nth-child(2)>div:nth-child(3)>img:nth-child(6){
    position: absolute;
    left: 34px;
    top: 273px;
}
/*gmail address*/
footer>section:nth-child(2)>div:nth-child(3)>p:nth-child(7){
    position: absolute;
    left: 88px;
    top: 263px;
}

.gmailaddress{
    color: black;
    text-decoration: none;
}
.footerServices{
    text-decoration: none;
    color: black;
}

/*small*/
small{
    position: relative;
    left: 43vw;
}

/*=======================================================responsive*===================================================*/

@media all and (max-width: 320px) {
    header{
        height: 57px;
    }

    aside{
        position: relative;
        height: 57px;
    }

    header>img:nth-child(1){
        height: 45px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    header>aside:nth-child(2)>ul{
        padding-left: 0;
        top: 33px;
        margin: auto;
        left: 0;
        width: max-content;
    }

    .Home_Page_picture{
        height: 64%;
        left: 98px;
        width: 68%;
    }
    #Home_Page_Text_Content{
        top: 73px;
        left: 16px;
    }

    #Home_Page_Text_Content>p:nth-child(1){
        font-size: 68%;
    }
    #Home_Page_Text_Content>h1:nth-child(2){
        font-size: 38px;
    }

    .animatedText{
        position: relative;
        height: 30.03px;
    }
    .animatedText>div span{
        font-size: 27px;
    }

    @keyframes typingOrder {
        0%{
            margin-top: 0;
        }
        33.333%{
            margin-top: -34.06px;
        }
        66.666%{
            margin-top: -62.12px;
        }
        100%{
            margin-top: 0;
        }
    }

    #Home_Page_Text_Content>blockquote:nth-child(4){
        font-size: 18px;
        width: max-content;
        height: 81px;
    }
    #Home_Page_Text_Content>blockquote:nth-child(4)>p{
        width: 203px;
    }
    #Home_Page_Text_Content>cite:nth-child(5){
        position: relative;
        font-size: 24px;
        top: 45px;
    }
    #naigationsIcons{
        position: relative;
        top: 60px;
    }

    #naigationsIcons img{
        height: 28px;
    }
    #downloadCvButten{
        position: relative;
        top: 74px;
    }
    #downloadCvButten>button{
        font-size: 13px;
        width: 202px;
    }

    /*=================================About me page=====================================================*/
    #About_Me_Section{
        position: relative;
        height: max-content;
    }
    #aboutMePageImage{
        opacity: 0.2;
        position: absolute;
        width: 100vw;
        height: 630px;
        left: 0;
        margin: auto;
    }
    #About_Me_Section>section:nth-child(2)>div{
        position: relative;
        font-size: 10px;
        right: 0;
        top: 63px;
        width: 219px;
        padding-left: 0;
        margin: 20px;
    }

    #About_Me_Section>section:nth-child(2)>div:nth-child(2)>h2:nth-child(1){
        top: 0;
        width: 153px;
        left: 0;
        position: relative;
    }

    #About_Me_Section>section:nth-child(2)>div:nth-child(2)>div:nth-child(2){
        position: relative;
        top: 0;
        left: 0;
        width: 90%;
        margin-left: 81px;
        margin-bottom: 19px;
    }
    #About_Me_Section>section:nth-child(2)>div:nth-child(2)>div:nth-child(3){
        position: relative;
        top: 0;
        left: 0;
        width: 90%;
        margin-left: 81px;
        margin-bottom: 19px;
    }
    #About_Me_Section>section:nth-child(2)>div:nth-child(2)>div:nth-child(4){
        position: relative;
        top: 0;
        left: 0;
        width: 90%;
        margin-left: 81px;
        margin-bottom: 19px;
    }

    #verticleLine{
        top: 33px;
        height: 280px;
        right: 157px;
    }



    /*=================================skill page=====================================================*/
    #skillPage{
        position: relative;
    }

    #Skill{
        position: unset;
        left: 0;
        top: 0;
    }

    #skillPage>h2:nth-child(1){
        position: absolute;
        margin: auto;
        left: 0px;
        right: 0;
        text-align: center;
        top: -102px;
    }

    #skillPage>p:nth-child(2){
        position: absolute;
        font-size: 1.5em;
        top: -39px;
        left: 0;
        text-align: center;
        margin: auto;
        right: 0;
    }

    #skillPage>div:nth-child(3){
        width: 80%;
        margin-top: 218px;
    }

    /*=================================service page=====================================================*/
    .Slider{
        position: relative;
        flex-direction: column;
        margin-top: 0;
        width: 73%;
        height: 724px;
    }

    .coverBox{
        width: 100%;
        height: calc(100% * 1 / 3);
        margin: 0;
        margin-top: 11px;
    }

    .coverBox>div{
        width: 100%;
        height: 100%;
    }
    #UI\/UX_Development>img:nth-child(1){
        height: 43%;
    }
    #Web_Development>img:nth-child(1){
        height: 43%;
    }
    #Mobile_Development>img:nth-child(1){
        height: 43%;
    }
    .coverBox>div>h3:nth-child(2){
        font-size: 70%;
    }

    .coverBox>div>blockquote:nth-child(3){
        font-size: 65%;
    }
    .coverBox>div>cite:nth-child(4){
        font-size: 54%;
    }

    #Web_Development>blockquote:nth-child(3){
        font-size: 8px;
    }
    #Web_Development>cite:nth-child(4){
        font-size: 9px;
    }

    #Mobile_Development>blockquote:nth-child(3){
        font-size: 8px;
    }

    .coverBox:hover{
        transform: scale(1.3);
    }

    #Services{
        position: unset;
    }

    #Services_section>h2:nth-child(1){
        position: relative;
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
    }

    #Services_section>p:nth-child(2){
        position: relative;
        top: -30px;
        left: 0;
        right: 0;
        text-align: center;
    }

    /*=================================projects page=====================================================*/

    #Projects_Section>h2:nth-child(1){
        position: relative;
        top: -103px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }

    #Projects{
        left: 0;
    }

    #Projects_Section>p:nth-child(2){
        position: relative;
        top: -98px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }

    .externalBox{
        position: relative;
        top: -78px;
        flex-direction: column;
        width: 88%;
        height: 563px;
    }
    .mainBox{
        width: 100%;
        margin: 0;
        height: calc(100%*1/2);
        margin-bottom: 13px;
    }

    #Projects_Section>div:nth-child(4){
        position: relative;
        top: -87px;
    }
    /*=================================page footer=====================================================*/
    footer{
        top: 0;
    }

    footer>section:nth-child(1){
        height: 665px;
    }

    footer>section:nth-child(1)>h3:nth-child(1){
        position: relative;
        top: 0;
        left: 0;
        font-size: 196%;
    }
    footer>section:nth-child(1)>h3:nth-child(2){
        position: relative;
        top: 0;
        left: 0;
        margin: 0;
    }

    footer>section:nth-child(1)>section:nth-child(3){
        height: 300px;
        width: 300px;
        margin: auto;
        margin-bottom: 8px;
    }

    iframe{
        height: 100%;
        width: 100%;
    }

    footer>section:nth-child(1)>section:nth-child(4){
        position: relative;
        top: 0;
        left: 0;
        margin: auto;
        width: 100%;
        height: 375px;
        margin-top: 11px;
    }

    footer>section:nth-child(1)>section:nth-child(4)>div:nth-child(1){
        height: 240px;
        width: 100%;
    }
    form{
        margin: 6px;
        width: 98%;
    }

    fieldset{
        width: 100%;
    }

    #name{
        height: 12%;
        width: 27%;
    }

    #email{
        width: 44%;
        height: 12%;
    }

    #subject{
        width: 86%;
        height: 23%;
    }

    #message{
        width: 85%;
    }

    #messageSendButten{
        width: 59%;
        margin: 6px;
        height: 67%;
        font-size: 111%;
    }

    footer>section:nth-child(2)>div:nth-child(1)>h4:nth-child(1){
        font-size: 13px;
    }
    footer>section:nth-child(2)>div:nth-child(1)>p:nth-child(2){
        font-size: 8px;
    }

    footer>section:nth-child(2)>div:nth-child(1)>nav:nth-child(3) img{
        height: 16px;
    }

    footer>section:nth-child(2)>div:nth-child(2)>h4:nth-child(1){
        font-size: 13px;
    }

    footer>section:nth-child(2)>div:nth-child(2)>ul:nth-child(2) li{
        padding-left: 0;
        font-size: 8px;
    }

    footer>section:nth-child(2)>div:nth-child(3)>h4:nth-child(1){
        font-size: 13px;
    }
    footer>section:nth-child(2)>div:nth-child(3)>img:nth-child(2){
        left: 0;
        height:19px;
    }
    footer>section:nth-child(2)>div:nth-child(3)>p:nth-child(3){
        padding-left: 32%;
        width: 70%;
        right: 0;
        font-size: 61%;
    }
    footer>section:nth-child(2)>div:nth-child(3)>img:nth-child(4){
        left: 0;
        position: relative;
        top: 0;
        height: 19px;
    }
    footer>section:nth-child(2)>div:nth-child(3)>p:nth-child(5){
        position: relative;
        top: -18px;
        left: 28px;
        margin: auto;
        font-size: 66%;
    }
    footer>section:nth-child(2)>div:nth-child(3)>img:nth-child(6){
        left: 0;
        position: relative;
        top: 0;
        height: 18px;
    }

    footer>section:nth-child(2)>div:nth-child(3)>p:nth-child(7){
        position: relative;
        top: -19px;
        left: 33px;
        margin: auto;
        font-size: 45%;
    }
    small{
        font-size: 64%;
        position: relative;
        left: 0;
        right: 0;
        margin: auto;
    }
}

@media all  and (min-width: 321px) and (max-width: 376px) {
    header{
        height: 57px;
    }

    aside{
        position: relative;
        height: 57px;
    }

    header>img:nth-child(1){
        height: 45px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    header>aside:nth-child(2)>ul{
        padding-left: 0;
        top: 33px;
        margin: auto;
        left: 0;
        width: max-content;
    }

    .Home_Page_picture{
        height: 55%;
        left: 108px;
        width: 68%;
        bottom: 0;
    }
    #Home_Page_Text_Content{
        top: 161px;
        left: 16px;
    }

    #Home_Page_Text_Content>p:nth-child(1){
        font-size: 68%;
    }
    #Home_Page_Text_Content>h1:nth-child(2){
        font-size: 38px;
    }

    .animatedText{
        position: relative;
        height: 30.03px;
    }
    .animatedText>div span{
        font-size: 27px;
    }

    @keyframes typingOrder {
        0%{
            margin-top: 0;
        }
        33.333%{
            margin-top: -34.06px;
        }
        66.666%{
            margin-top: -62.12px;
        }
        100%{
            margin-top: 0;
        }
    }

    #Home_Page_Text_Content>blockquote:nth-child(4){
        font-size: 18px;
        width: max-content;
        height: 81px;
    }
    #Home_Page_Text_Content>blockquote:nth-child(4)>p{
        width: 203px;
    }
    #Home_Page_Text_Content>cite:nth-child(5){
        position: relative;
        font-size: 24px;
        top: 45px;
    }
    #naigationsIcons{
        position: relative;
        top: 60px;
    }

    #naigationsIcons img{
        height: 28px;
    }
    #downloadCvButten{
        position: relative;
        top: 74px;
    }
    #downloadCvButten>button{
        font-size: 13px;
        width: 202px;
    }

    /*=================================About me page=====================================================*/
    #About_Me_Section{
        position: relative;
        height: max-content;
    }
    #aboutMePageImage{
        opacity: 0.2;
        position: absolute;
        width: 100vw;
        height: 630px;
        left: 0;
        margin: auto;
    }
    #About_Me_Section>section:nth-child(2)>div{
        position: relative;
        font-size: 10px;
        right: 0;
        top: 63px;
        width: 219px;
        padding-left: 0;
        margin: 20px;
    }

    #About_Me_Section>section:nth-child(2)>div:nth-child(2)>h2:nth-child(1){
        top: 0;
        width: 153px;
        left: 0;
        position: relative;
    }

    #About_Me_Section>section:nth-child(2)>div:nth-child(2)>div:nth-child(2){
        position: relative;
        top: 0;
        left: 0;
        width: 90%;
        margin-left: 81px;
        margin-bottom: 19px;
    }
    #About_Me_Section>section:nth-child(2)>div:nth-child(2)>div:nth-child(3){
        position: relative;
        top: 0;
        left: 0;
        width: 90%;
        margin-left: 81px;
        margin-bottom: 19px;
    }
    #About_Me_Section>section:nth-child(2)>div:nth-child(2)>div:nth-child(4){
        position: relative;
        top: 0;
        left: 0;
        width: 90%;
        margin-left: 81px;
        margin-bottom: 19px;
    }

    #verticleLine{
        top: 33px;
        height: 280px;
        right: 157px;
    }



    /*=================================skill page=====================================================*/
    #skillPage{
        position: relative;
    }

    #Skill{
        position: unset;
        left: 0;
        top: 0;
    }

    #skillPage>h2:nth-child(1){
        position: absolute;
        margin: auto;
        left: 0px;
        right: 0;
        text-align: center;
        top: -102px;
    }

    #skillPage>p:nth-child(2){
        position: absolute;
        font-size: 1.5em;
        top: -39px;
        left: 0;
        text-align: center;
        margin: auto;
        right: 0;
    }

    #skillPage>div:nth-child(3){
        width: 80%;
        margin-top: 218px;
    }

    /*=================================service page=====================================================*/
    .Slider{
        position: relative;
        flex-direction: column;
        margin-top: 0;
        width: 73%;
        height: 724px;
    }

    .coverBox{
        width: 100%;
        height: calc(100% * 1 / 3);
        margin: 0;
        margin-top: 11px;
    }

    .coverBox>div{
        width: 100%;
        height: 100%;
    }
    #UI\/UX_Development>img:nth-child(1){
        height: 43%;
    }
    #Web_Development>img:nth-child(1){
        height: 43%;
    }
    #Mobile_Development>img:nth-child(1){
        height: 43%;
    }
    .coverBox>div>h3:nth-child(2){
        font-size: 70%;
    }

    .coverBox>div>blockquote:nth-child(3){
        font-size: 65%;
    }
    .coverBox>div>cite:nth-child(4){
        font-size: 54%;
    }

    #Web_Development>blockquote:nth-child(3){
        font-size: 8px;
    }
    #Web_Development>cite:nth-child(4){
        font-size: 9px;
    }

    #Mobile_Development>blockquote:nth-child(3){
        font-size: 8px;
    }

    .coverBox:hover{
        transform: scale(1.3);
    }

    #Services{
        position: unset;
    }

    #Services_section>h2:nth-child(1){
        position: relative;
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
    }

    #Services_section>p:nth-child(2){
        position: relative;
        top: -30px;
        left: 0;
        right: 0;
        text-align: center;
    }

    /*=================================projects page=====================================================*/

    #Projects_Section>h2:nth-child(1){
        position: relative;
        top: -103px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }

    #Projects{
        left: 0;
    }

    #Projects_Section>p:nth-child(2){
        position: relative;
        top: -98px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }

    .externalBox{
        position: relative;
        top: -78px;
        flex-direction: column;
        width: 88%;
        height: 563px;
    }
    .mainBox{
        width: 100%;
        margin: 0;
        height: calc(100%*1/2);
        margin-bottom: 13px;
    }

    #Projects_Section>div:nth-child(4){
        position: relative;
        top: -87px;
    }
    /*=================================page footer=====================================================*/
    footer{
        top: 0;
    }

    footer>section:nth-child(1){
        height: 665px;
    }

    footer>section:nth-child(1)>h3:nth-child(1){
        position: relative;
        top: 0;
        left: 0;
        font-size: 196%;
    }
    footer>section:nth-child(1)>h3:nth-child(2){
        position: relative;
        top: 0;
        left: 0;
        margin: 0;
    }

    footer>section:nth-child(1)>section:nth-child(3){
        height: 300px;
        width: 300px;
        margin: auto;
        margin-bottom: 8px;
    }

    iframe{
        height: 100%;
        width: 100%;
    }

    footer>section:nth-child(1)>section:nth-child(4){
        position: relative;
        top: 0;
        left: 0;
        margin: auto;
        width: 100%;
        height: 375px;
        margin-top: 11px;
    }

    footer>section:nth-child(1)>section:nth-child(4)>div:nth-child(1){
        height: 240px;
        width: 100%;
    }
    form{
        margin: 6px;
        width: 98%;
    }

    fieldset{
        width: 100%;
    }

    #name{
        height: 12%;
        width: 26%;
    }

    #email{
        width: 49%;
        height: 12%;
    }

    #subject{
        width: 88%;
        height: 23%;
    }

    #message{
        width: 88%;
    }

    #messageSendButten{
        width: 59%;
        margin: 6px;
        height: 67%;
        font-size: 111%;
    }

    footer>section:nth-child(2)>div:nth-child(1)>h4:nth-child(1){
        font-size: 13px;
    }
    footer>section:nth-child(2)>div:nth-child(1)>p:nth-child(2){
        font-size: 8px;
    }

    footer>section:nth-child(2)>div:nth-child(1)>nav:nth-child(3) img{
        height: 16px;
    }

    footer>section:nth-child(2)>div:nth-child(2)>h4:nth-child(1){
        font-size: 13px;
    }

    footer>section:nth-child(2)>div:nth-child(2)>ul:nth-child(2) li{
        padding-left: 0;
        font-size: 8px;
    }

    footer>section:nth-child(2)>div:nth-child(3)>h4:nth-child(1){
        font-size: 13px;
    }
    footer>section:nth-child(2)>div:nth-child(3)>img:nth-child(2){
        left: 0;
        height:19px;
    }
    footer>section:nth-child(2)>div:nth-child(3)>p:nth-child(3){
        padding-left: 32%;
        width: 70%;
        right: 0;
        font-size: 61%;
    }
    footer>section:nth-child(2)>div:nth-child(3)>img:nth-child(4){
        left: 0;
        position: relative;
        top: 0;
        height: 19px;
    }
    footer>section:nth-child(2)>div:nth-child(3)>p:nth-child(5){
        position: relative;
        top: -18px;
        left: 28px;
        margin: auto;
        font-size: 66%;
    }
    footer>section:nth-child(2)>div:nth-child(3)>img:nth-child(6){
        left: 0;
        position: relative;
        top: 0;
        height: 18px;
    }

    footer>section:nth-child(2)>div:nth-child(3)>p:nth-child(7){
        position: relative;
        top: -19px;
        left: 33px;
        margin: auto;
        font-size: 45%;
    }
    small{
        font-size: 64%;
        position: relative;
        left: 34px;
        right: 0;
    }
}

@media all and (min-width: 376px) and (max-width: 426px){
    header{
        height: 57px;
    }

    aside{
        position: relative;
        height: 57px;
    }

    header>img:nth-child(1){
        height: 45px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    header>aside:nth-child(2)>ul{
        padding-left: 0;
        top: 33px;
        margin: auto;
        left: 0;
        width: max-content;
    }

    .Home_Page_picture{
        height: 64%;
        left: 121px;
        width: 68%;
    }
    #Home_Page_Text_Content{
        top: 156px;
        left: 27px;
    }

    #Home_Page_Text_Content>p:nth-child(1){
        font-size: 68%;
    }
    #Home_Page_Text_Content>h1:nth-child(2){
        font-size: 38px;
    }

    .animatedText{
        position: relative;
        height: 30.03px;
    }
    .animatedText>div span{
        font-size: 27px;
    }

    @keyframes typingOrder {
        0%{
            margin-top: 0;
        }
        33.333%{
            margin-top: -34.06px;
        }
        66.666%{
            margin-top: -62.12px;
        }
        100%{
            margin-top: 0;
        }
    }

    #Home_Page_Text_Content>blockquote:nth-child(4){
        font-size: 18px;
        width: max-content;
        height: 81px;
    }
    #Home_Page_Text_Content>blockquote:nth-child(4)>p{
        width: 203px;
    }
    #Home_Page_Text_Content>cite:nth-child(5){
        position: relative;
        font-size: 24px;
        top: 45px;
    }
    #naigationsIcons{
        position: relative;
        top: 60px;
    }

    #naigationsIcons img{
        height: 28px;
    }
    #downloadCvButten{
        position: relative;
        top: 74px;
    }
    #downloadCvButten>button{
        font-size: 13px;
        width: 202px;
    }

    /*=================================About me page=====================================================*/
    #About_Me_Section{
        position: relative;
        height: max-content;
    }
    #aboutMePageImage{
        opacity: 0.2;
        position: absolute;
        width: 100vw;
        height: 630px;
        left: 0;
        margin: auto;
    }
    #About_Me_Section>section:nth-child(2)>div{
        position: relative;
        font-size: 10px;
        right: 0;
        top: 63px;
        width: 219px;
        padding-left: 0;
        margin: 20px;
    }

    #About_Me_Section>section:nth-child(2)>div:nth-child(2)>h2:nth-child(1){
        top: 0;
        width: 153px;
        left: 0;
        position: relative;
    }

    #About_Me_Section>section:nth-child(2)>div:nth-child(2)>div:nth-child(2){
        position: relative;
        top: 0;
        left: 0;
        width: 90%;
        margin-left: 81px;
        margin-bottom: 19px;
    }
    #About_Me_Section>section:nth-child(2)>div:nth-child(2)>div:nth-child(3){
        position: relative;
        top: 0;
        left: 0;
        width: 90%;
        margin-left: 81px;
        margin-bottom: 19px;
    }
    #About_Me_Section>section:nth-child(2)>div:nth-child(2)>div:nth-child(4){
        position: relative;
        top: 0;
        left: 0;
        width: 90%;
        margin-left: 81px;
        margin-bottom: 19px;
    }

    #verticleLine{
        top: 33px;
        height: 280px;
        right: 157px;
    }



    /*=================================skill page=====================================================*/
    #skillPage{
        position: relative;
    }

    #Skill{
        position: unset;
        left: 0;
        top: 0;
    }

    #skillPage>h2:nth-child(1){
        position: absolute;
        margin: auto;
        left: 0px;
        right: 0;
        text-align: center;
        top: -102px;
    }

    #skillPage>p:nth-child(2){
        position: absolute;
        font-size: 1.5em;
        top: -39px;
        left: 0;
        text-align: center;
        margin: auto;
        right: 0;
    }

    #skillPage>div:nth-child(3){
        width: 80%;
        margin-top: 218px;
    }

    /*=================================service page=====================================================*/
    .Slider{
        position: relative;
        flex-direction: column;
        margin-top: 0;
        width: 73%;
        height: 724px;
    }

    .coverBox{
        width: 100%;
        height: calc(100% * 1 / 3);
        margin: 0;
        margin-top: 11px;
    }

    .coverBox>div{
        width: 100%;
        height: 100%;
    }
    #UI\/UX_Development>img:nth-child(1){
        height: 43%;
    }
    #Web_Development>img:nth-child(1){
        height: 43%;
    }
    #Mobile_Development>img:nth-child(1){
        height: 43%;
    }
    .coverBox>div>h3:nth-child(2){
        font-size: 70%;
    }

    .coverBox>div>blockquote:nth-child(3){
        font-size: 65%;
    }
    .coverBox>div>cite:nth-child(4){
        font-size: 54%;
    }

    #Web_Development>blockquote:nth-child(3){
        font-size: 8px;
    }
    #Web_Development>cite:nth-child(4){
        font-size: 9px;
    }

    #Mobile_Development>blockquote:nth-child(3){
        font-size: 8px;
    }

    .coverBox:hover{
        transform: scale(1.3);
    }

    #Services{
        position: unset;
    }

    #Services_section>h2:nth-child(1){
        position: relative;
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
    }

    #Services_section>p:nth-child(2){
        position: relative;
        top: -30px;
        left: 0;
        right: 0;
        text-align: center;
    }

    /*=================================projects page=====================================================*/

    #Projects_Section>h2:nth-child(1){
        position: relative;
        top: -103px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }

    #Projects{
        left: 0;
    }

    #Projects_Section>p:nth-child(2){
        position: relative;
        top: -98px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }

    .externalBox{
        position: relative;
        top: -78px;
        flex-direction: column;
        width: 88%;
        height: 563px;
    }
    .mainBox{
        width: 100%;
        margin: 0;
        height: calc(100%*1/2);
        margin-bottom: 13px;
    }

    #Projects_Section>div:nth-child(4){
        position: relative;
        top: -87px;
    }
    /*=================================page footer=====================================================*/
    footer{
        top: 0;
    }

    footer>section:nth-child(1){
        height: 665px;
    }

    footer>section:nth-child(1)>h3:nth-child(1){
        position: relative;
        top: 0;
        left: 0;
        font-size: 196%;
    }
    footer>section:nth-child(1)>h3:nth-child(2){
        position: relative;
        top: 0;
        left: 0;
        margin: 0;
    }

    footer>section:nth-child(1)>section:nth-child(3){
        height: 300px;
        width: 300px;
        margin: auto;
        margin-bottom: 8px;
    }

    iframe{
        height: 100%;
        width: 100%;
    }

    footer>section:nth-child(1)>section:nth-child(4){
        position: relative;
        top: 0;
        left: 0;
        margin: auto;
        width: 100%;
        height: 375px;
        margin-top: 11px;
    }

    footer>section:nth-child(1)>section:nth-child(4)>div:nth-child(1){
        height: 240px;
        width: 100%;
    }
    form{
        margin: 6px;
        width: 98%;
    }

    fieldset{
        width: 100%;
    }

    #name{
        height: 12%;
        width: 34%;
    }

    #email{
        width: 44%;
        height: 12%;
    }

    #subject{
        width:89%;
        height: 23%;
    }

    #message{
        width: 89%;
    }

    #messageSendButten{
        width: 59%;
        margin: 6px;
        height: 67%;
        font-size: 111%;
    }

    footer>section:nth-child(2)>div:nth-child(1)>h4:nth-child(1){
        font-size: 13px;
    }
    footer>section:nth-child(2)>div:nth-child(1)>p:nth-child(2){
        font-size: 8px;
    }

    footer>section:nth-child(2)>div:nth-child(1)>nav:nth-child(3) img{
        height: 16px;
    }

    footer>section:nth-child(2)>div:nth-child(2)>h4:nth-child(1){
        font-size: 13px;
    }

    footer>section:nth-child(2)>div:nth-child(2)>ul:nth-child(2) li{
        padding-left: 0;
        font-size: 8px;
    }

    footer>section:nth-child(2)>div:nth-child(3)>h4:nth-child(1){
        font-size: 13px;
    }
    footer>section:nth-child(2)>div:nth-child(3)>img:nth-child(2){
        left: 0;
        height:19px;
    }
    footer>section:nth-child(2)>div:nth-child(3)>p:nth-child(3){
        padding-left: 32%;
        width: 70%;
        right: 0;
        font-size: 61%;
    }
    footer>section:nth-child(2)>div:nth-child(3)>img:nth-child(4){
        left: 0;
        position: relative;
        top: 0;
        height: 19px;
    }
    footer>section:nth-child(2)>div:nth-child(3)>p:nth-child(5){
        position: relative;
        top: -18px;
        left: 28px;
        margin: auto;
        font-size: 66%;
    }
    footer>section:nth-child(2)>div:nth-child(3)>img:nth-child(6){
        left: 0;
        position: relative;
        top: 0;
        height: 18px;
    }

    footer>section:nth-child(2)>div:nth-child(3)>p:nth-child(7){
        position: relative;
        top: -19px;
        left: 33px;
        margin: auto;
        font-size: 45%;
    }
    small{
        font-size: 64%;
        position: relative;
        left: 48px;
        right: 0;
    }
}

@media all and (min-width: 426px) and (max-width: 769px){
    .Home_Page_picture{
        height: 71vh;
    }

    #Home_Page_Text_Content{
        top: 11vh;
        left: 5vw;
    }

    #downloadCvButten>button{
        width: 21vw;
    }

    /*===========================================================About me======================================*/
    #aboutMePageImage{
        left:-5%;
        opacity: 0.5;
    }

    #About_Me_Section>section:nth-child(2)>div:nth-child(1)>h2:nth-child(1){
        font-size: 87%;
    }
    #About_Me_Section>section:nth-child(2)>div:nth-child(1)>p:nth-child(2){
        font-size: 89%;
    }
    /*===========================================================Skill page======================================*/
    #skillPage>p:nth-child(2){
        left: 354px;
        margin-top: 12px;
    }

    /*===========================================================Services page======================================*/
    .Slider{
        position: relative;
        flex-direction: column;
        margin-top: 0;
        width: 73%;
        height: 617px;
    }

    .coverBox{
        width: 100%;
        height: calc(100% * 1 / 3);
        margin: 0;
        margin-top: 11px;
    }

    .coverBox>div{
        width: 100%;
        height: 100%;
    }
    #UI\/UX_Development>img:nth-child(1){
        height: 43%;
    }
    #Web_Development>img:nth-child(1){
        height: 43%;
    }
    #Mobile_Development>img:nth-child(1){
        height: 43%;
    }
    .coverBox>div>h3:nth-child(2){
        font-size: 105%;
    }

    .coverBox>div>blockquote:nth-child(3){
        font-size: 86%;
    }
    .coverBox>div>cite:nth-child(4){
        font-size: 54%;
    }

    #Web_Development>blockquote:nth-child(3){
        font-size: 11px;
    }
    #Web_Development>cite:nth-child(4){
        font-size: 9px;
    }

    #Mobile_Development>blockquote:nth-child(3){
        font-size: 9px;
    }

    .coverBox:hover{
        transform: scale(1.3);
    }

    #Services{
        position: unset;
    }

    #Services_section>h2:nth-child(1){
        position: relative;
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
    }

    #Services_section>p:nth-child(2){
        position: relative;
        top: -30px;
        left: 0;
        right: 0;
        text-align: center;
    }

    /*===========================================================Projects page======================================*/
    .mainBox{
        height: 298px;
    }

    #Projects{
        position: unset;
        left: 0;
    }

    #Projects_Section>h2:nth-child(1){
        text-align: center;
        left: 0;
        position: relative;
        margin: auto;
    }

    #Projects_Section>p:nth-child(2){
        position: relative;
        top: 0px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }

    /*===========================================================footer======================================*/
    iframe{
        width: 315px;
    }

    footer>section:nth-child(1)>h3:nth-child(1){
        left: 317px;
        font-size: 28px;
    }
    footer>section:nth-child(1)>h3:nth-child(2){
        margin-top: 2px;
        left: 319px;
    }

    footer>section:nth-child(1)>section:nth-child(4){
        left: 317px;
    }
    #name{
        width: 162px;
        height: 42px;
    }
    #email{
        width: 199px;
        height: 42px;
    }
    #subject{
        width: 409px;
        height: 42px;
    }
    #message{
        width: 409px;
    }
    small{
        left: 216px;
    }

    footer>section:nth-child(2)>div:nth-child(1)>h4:nth-child(1){
        font-size: 13px;
    }
    footer>section:nth-child(2)>div:nth-child(1)>p:nth-child(2){
        font-size: 8px;
    }

    footer>section:nth-child(2)>div:nth-child(1)>nav:nth-child(3) img{
        height: 16px;
    }

    footer>section:nth-child(2)>div:nth-child(2)>h4:nth-child(1){
        font-size: 13px;
    }

    footer>section:nth-child(2)>div:nth-child(2)>ul:nth-child(2) li{
        padding-left: 0;
        font-size: 8px;
    }

    footer>section:nth-child(2)>div:nth-child(3)>h4:nth-child(1){
        font-size: 13px;
    }
    footer>section:nth-child(2)>div:nth-child(3)>img:nth-child(2){
        left: 0;
        height:19px;
    }
    footer>section:nth-child(2)>div:nth-child(3)>p:nth-child(3){
        padding-left: 15%;
        width: 70%;
        right: 0;
        font-size: 61%;
    }
    footer>section:nth-child(2)>div:nth-child(3)>img:nth-child(4){
        left: 0;
        position: relative;
        top: 0;
        height: 19px;
    }
    footer>section:nth-child(2)>div:nth-child(3)>p:nth-child(5){
        position: relative;
        top: -18px;
        left: 28px;
        margin: auto;
        font-size: 66%;
    }
    footer>section:nth-child(2)>div:nth-child(3)>img:nth-child(6){
        left: 0;
        position: relative;
        top: 0;
        height: 18px;
    }

    footer>section:nth-child(2)>div:nth-child(3)>p:nth-child(7){
        position: relative;
        top: -19px;
        left: 33px;
        margin: auto;
        font-size: 45%;
    }
}

@media all and (min-width: 769px) and (max-width: 1025px){
    #Home_Page_Text_Content{
        top: 82px;
    }

    .Home_Page_picture{
        height: 526px;
    }
    #downloadCvButten button{
        width: 169px;
    }

    #aboutMePageImage{
        left: 0;
    }

    #About_Me_Section>section:nth-child(2)>div:nth-child(1){
        font-size: 12px;
    }

    #skillPage>h2:nth-child(1){
        position: relative;
        top: 41px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }
    #skillPage>p:nth-child(2){
        position: relative;
        top: 41px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }

    #Skill{
        position: unset;
        left: 0;
        top: 0;
    }

    #Services_section>h2:nth-child(1){
        position: relative;
        top: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }
    #Services{
        position: unset;
        left: 0;
    }

    #Services_section>p:nth-child(2){
        position: relative;
        top: -17px;
        left: 0;
        margin: auto;
        text-align: center;
    }
    .slidder{
        margin: 84px auto;
        font-size: 13px;
    }

    #name{
        width: 200px;
        height: 45px;
    }
    #email{
        width: 362px;
        height: 45px;
    }
    #subject{
        width: 607px;
        height: 45px;
    }
    #message{
        width: 607px;
        height: 86px;
    }

    iframe{
        width: 355px;
    }

    footer>section:nth-child(1)>h3:nth-child(1){
        left: 361px;
    }
    footer>section:nth-child(1)>h3:nth-child(2){
        left: 361px;
    }
    footer>section:nth-child(1)>section:nth-child(4){
        left: 0;
        padding-left: 358px;
    }

    footer>section:nth-child(2)>div:nth-child(1)>h4:nth-child(1){
        font-size: 13px;
    }
    footer>section:nth-child(2)>div:nth-child(1)>p:nth-child(2){
        font-size: 8px;
    }

    footer>section:nth-child(2)>div:nth-child(1)>nav:nth-child(3) img{
        height: 16px;
    }

    footer>section:nth-child(2)>div:nth-child(2)>h4:nth-child(1){
        font-size: 13px;
    }

    footer>section:nth-child(2)>div:nth-child(2)>ul:nth-child(2) li{
        padding-left: 0;
        font-size: 8px;
    }

    footer>section:nth-child(2)>div:nth-child(3)>h4:nth-child(1){
        font-size: 13px;
    }
    footer>section:nth-child(2)>div:nth-child(3)>img:nth-child(2){
        left: 0;
        height:19px;
    }
    footer>section:nth-child(2)>div:nth-child(3)>p:nth-child(3){
        padding-left: 15%;
        width: 70%;
        right: 0;
        font-size: 61%;
    }
    footer>section:nth-child(2)>div:nth-child(3)>img:nth-child(4){
        left: 0;
        position: relative;
        top: 0;
        height: 19px;
    }
    footer>section:nth-child(2)>div:nth-child(3)>p:nth-child(5){
        position: relative;
        top: -18px;
        left: 28px;
        margin: auto;
        font-size: 66%;
    }
    footer>section:nth-child(2)>div:nth-child(3)>img:nth-child(6){
        left: 0;
        position: relative;
        top: 0;
        height: 18px;
    }

    footer>section:nth-child(2)>div:nth-child(3)>p:nth-child(7){
        position: relative;
        top: -19px;
        left: 33px;
        margin: auto;
        font-size: 45%;
    }
    small{
        left: 32%;
    }
}

@media all and (min-width: 1025px) and (max-width: 1441px){
    #Home_Page_Text_Content{
        top: 82px;
    }

    .Home_Page_picture{
        height: 526px;
    }
    #downloadCvButten button{
        width: 169px;
    }

    #aboutMePageImage{
        left: 0;
    }

    #About_Me_Section>section:nth-child(2)>div:nth-child(1){
        font-size: 12px;
    }

    #skillPage>h2:nth-child(1){
        position: relative;
        top: 41px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }
    #skillPage>p:nth-child(2){
        position: relative;
        top: 41px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }

    #Skill{
        position: unset;
        left: 0;
        top: 0;
    }

    #Services_section>h2:nth-child(1){
        position: relative;
        top: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }
    #Services{
        position: unset;
        left: 0;
    }

    #Services_section>p:nth-child(2){
        position: relative;
        top: -17px;
        left: 0;
        margin: auto;
        text-align: center;
    }
    .slidder{
        margin: 84px auto;
        font-size: 13px;
    }

    #name{
        width: 351px;
        height: 45px;
    }
    #email{
        width: 496px;
        height: 45px;
    }
    #subject{
        width: 863px;
        height: 45px;
    }
    #message{
        width: 863px;
        height: 86px;
    }

    iframe{
        width: 509px;
    }

    footer>section:nth-child(1)>h3:nth-child(1){
        left: 516px;
    }
    footer>section:nth-child(1)>h3:nth-child(2){
        left: 516px;
    }
    footer>section:nth-child(1)>section:nth-child(4){
        left: 0;
        padding-left: 516px;
    }

    footer>section:nth-child(2)>div:nth-child(1)>h4:nth-child(1){
        font-size: 13px;
    }
    footer>section:nth-child(2)>div:nth-child(1)>p:nth-child(2){
        font-size: 8px;
    }

    footer>section:nth-child(2)>div:nth-child(1)>nav:nth-child(3) img{
        height: 16px;
    }

    footer>section:nth-child(2)>div:nth-child(2)>h4:nth-child(1){
        font-size: 13px;
    }

    footer>section:nth-child(2)>div:nth-child(2)>ul:nth-child(2) li{
        padding-left: 0;
        font-size: 8px;
    }

    footer>section:nth-child(2)>div:nth-child(3)>h4:nth-child(1){
        font-size: 13px;
    }
    footer>section:nth-child(2)>div:nth-child(3)>img:nth-child(2){
        left: 0;
        height:19px;
    }
    footer>section:nth-child(2)>div:nth-child(3)>p:nth-child(3){
        padding-left: 15%;
        width: 70%;
        right: 0;
        font-size: 61%;
    }
    footer>section:nth-child(2)>div:nth-child(3)>img:nth-child(4){
        left: 0;
        position: relative;
        top: 0;
        height: 19px;
    }
    footer>section:nth-child(2)>div:nth-child(3)>p:nth-child(5){
        position: relative;
        top: -18px;
        left: 28px;
        margin: auto;
        font-size: 66%;
    }
    footer>section:nth-child(2)>div:nth-child(3)>img:nth-child(6){
        left: 0;
        position: relative;
        top: 0;
        height: 18px;
    }

    footer>section:nth-child(2)>div:nth-child(3)>p:nth-child(7){
        position: relative;
        top: -19px;
        left: 33px;
        margin: auto;
        font-size: 45%;
    }
    small{
        left: 36%;
    }
}
