body {
    font-family: "Public Sans";
    color: #0000FF;
    margin: 0;
}

header > aside {
    color: #FFFCFC;
}

main > section#Home_Page_section > section {
    color: #FFFCFC;
}

main > section > section > p {
    color: blue;

}

#About_Me_Section > section > div:nth-child(2) > div > p {
    color: black;
}

#Services_section > div > blockquote {
    color: black;
}

#Services_section > div > cite {
    color: black;
}


main > section:nth-child(3) > p {
    color: blue;
}

main > section:nth-child(4) > h2 {
    color: black;
}

main > section:nth-child(4) > p {
    color: blue;
}

main > section:nth-child(5) > h2 {
    color: black;
}

main > section:nth-child(5) > p {
    color: blue;
}

footer {
    color: black;
}

#Home_Page_section {
    background-color: #1E90FF;
    height: 100vh;
}
/*skill levels bars container*/
.containerBar{
    border: 5px solid red;
    position: absolute;
    height: 1.5vh;
    width: 24vw;
    border-radius: 20px;
}

/*===============================================================header===============================================*/
header {
    font-family: "Public Sans";
    color: #417bee;
    position: fixed;
    width: 100vw;
    height: 5vh;
    z-index: 100;
}

header > aside > ul {
    font-family: "Public Sans";
    color: #fffcfc;
    position: absolute;
    top: 0;
    right: 0;
}

header > aside > ul > li {
    list-style: none;
    display: inline;
    margin-right: 1.5vw;
    color: white;
}

.link {
    font-family: "Public Sans";
    list-style: none;
    color: white;
    font-size: 2vh;
    text-decoration-line: none;
}

.logo {
    font-family: "Public Sans";
    color: rgb(0, 0, 255);
    height: 9vh;
}

/*================================================Home Page Picture===================================================*/
.Home_Page_picture {
    font-family: "Public Sans";
    color: #0000FF;
    position: absolute;
    margin: auto;
    right: 10vw;
    height: 95vh;
    bottom: 0vh;
}

/*================================================Home Page Text======================================================*/
#Home_Page_Text_Content {
    box-sizing: border-box;
    position: absolute;
    width: 42vw;
    top: 27vh;
    left: 15vw;
    color: white;
}

/*hi there*/
#Home_Page_Text_Content > p:nth-child(1) {
    font-family: 'PT Serif', serif;
    border-radius: 5px;
    height: 3vh;
    margin-right: 34vw;
    margin-bottom: 0px;
    text-align: center;
    margin-top: 0;
    padding-top: 0.5vh;
    font-style: normal;
    font-weight: bold;
    background-color: white;
    color: #3f6fff;
}

#Home_Page_Text_Content h1 {
    font-family: "Public Sans";
    color: white;
    font-size: 4em;
    font-style: normal;
    margin: 0px;
}

#Home_Page_Text_Content blockquote {
    font-family: "Public Sans";
    color: white;
    width: 36vw;
    font-size: 2em;
    font-style: normal;
    margin-left: 0;
}

#Home_Page_Text_Content cite {
    font-family: "Public Sans";
    color: white;
    font-size: 2em;
    font-style: normal;
}

#naigationsIcons {
    margin: 1vw;
}

#naigationsIcons img {
    height: 5vh;
    margin-left: 0.5vw;
}

#downloadCvButten > button {
    margin-top: 1vh;
    height: 4vh;
    width: 11vw;
    border: none;
    font-family: "Public Sans";
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 20vh;
    background-color: white;
    color: #2f2fee;
    cursor: pointer;
}

/*================================================About Me Page Text==================================================*/

#aboutMePageImage {
    position: relative;
    top: 0px;
    left: 12vw;
    height: 100vh;
}

/*about me text*/
#About_Me_Section section > div:nth-child(1) {
    position: absolute;
    top: 103vh;
    right: 18vw;
    width: 34vw;
}

/*header in about me*/
#AboutMe {
    color: #0000FF;
    font-size: 3em;
    font-style: normal;
    font-family: 'PT Serif', serif;
}

/*description of about me page*/
#About_Me_Section section > div:nth-child(1) p {
    font-family: 'PT Serif', serif;
    font-size: 1.4em;
}

/*header (Education Level)*/
#About_Me_Section section > div:nth-child(2) h2 {
    font-family: "Public Sans";
    color: #0000ff;
    position: absolute;
    top: 132vh;
    right: 41vw;
    font-size: 1.9em;
}

/*education level(ijse)*/
#About_Me_Section section > div:nth-child(2) div:nth-child(2) {
    position: absolute;
    right: 10vw;
    top: 143vh;
    width: 20vw;
    border: 2px solid red;
    border-radius: 2vh;
}

/*education level(technicle college)*/
#About_Me_Section section > div:nth-child(2) div:nth-child(3) {
    position: absolute;
    right: 35vw;
    top: 158vh;
    width: 20vw;
    border: 2px solid red;
    border-radius: 2vh;
}

/*education level(president's college)*/
#About_Me_Section section > div:nth-child(2) div:nth-child(4) {
    position: absolute;
    right: 10vw;
    top: 173vh;
    width: 20vw;
    border: 2px solid red;
    border-radius: 2vh;
}

/*education level(verticleLine)*/
#verticleLine {
    border: 2px solid red;
    border-radius: 20px;
    position: absolute;
    height: 50vh;
    top: 140vh;
    right: 32.5vw;
    background-color: red;
}

/*===================================================Skill Page ======================================================*/
#skillPage {
    height: 87vh;
}

/*Header(Skills)*/
#skillPage > h2 {
    color: #0000ff;
    margin: 0px;
}

#Skill {
    position: absolute;
    font-style: normal;
    font-size: 3em;
    left: 46vw;
}

/*my skill level*/
#skillPage p:nth-child(2){
    position: absolute;
    top: 209vh;
    left: 46.5vw;
    font-size: 1.5em;
    margin: 0px;
    margin-top: 1vh;
}
/*java tag*/
#java{
    margin: 0px;
    position: absolute;
    left: 23vw;
    top: 217vh;
    font-size: 2em;
}

/*java icon*/
.javaIcon{
    position: absolute;
    left: 19vw;
    top: 215.5vh;
    margin-left: 1.5vw;
}
#javaContainer{
    top: 221vh;
    left: 20vw;
}
/*mysql tag*/
#mysql{
    margin: 0px;
    position: absolute;
    right: 30vw;
    top: 217vh;
    font-size: 2em;
}
/*mysql icon*/
.mySqlIcon{
    height: 50px;
    position: absolute;
    right: 34vw;
    top: 215.5vh;
    margin-right: 0.5vw;
}

#mysqlContainer{
    top: 221vh;
    right: 14vw;
}

/*javaScript tag*/
#javaScript{
    margin: 0px;
    position: absolute;
    left: 23vw;
    top: 232vh;
    font-size: 2em;
}
/*java Script icon*/
.javaScriptIcon{
    height: 50px;
    position: absolute;
    left: 21vw;
    top: 231vh;
    margin-left: -0.5vw;
}
#javaScriptContiner{
    top: 237vh;
    left: 20vw;
}

/*javafx tag*/
#javafx{
    margin: 0px;
    position: absolute;
    right: 29vw;
    top: 232vh;
    font-size: 2em;
}
/*java fx icon*/
.javafxIcon{
    height: 50px;
    position: absolute;
    right: 34vw;
    top: 231vh;
    margin-right: 1vw;
}

#javaFxContainer{
    top: 237vh;
    right: 14vw;
}

/*php tag*/
#php{
    margin: 0px;
    position: absolute;
    left: 23vw;
    top: 251vh;
    font-size: 2em;
}
.phpIcon{
    height: 50px;
    position: absolute;
    left: 20vw;
    top: 250vh;
    margin-right: 0.5vw;
}
#phpContainer{
    top: 256vh;
    left: 20vw;
}

/*html 5 tag*/
#html{
    margin: 0px;
    position: absolute;
    right: 30vw;
    top: 251vh;
    font-size: 2em;
}
.htmIcon{
    height: 50px;
    position: absolute;
    right: 34vw;
    top: 250vh;
    margin-right: 0.5vw;
}
#htmlContainer{
    top: 256vh;
    right: 14vw;
}

/*css tag*/
#css{
    margin: 0px;
    position: absolute;
    left: 23vw;
    top: 274vh;
    font-size: 2em;
}
.cssIcon{
    height: 50px;
    position: absolute;
    left: 20vw;
    top: 273vh;
    margin-right: 0.5vw;
}
#cssContainer{
    top: 280vh;
    left: 20vw;
}
/*===================================================Service Page ====================================================*/
#Services_section{
    position: relative;
}
.Slider{
    display: flex;
    flex-direction: row;

}
/*header (Services)*/
#Services{
    position: relative;
    font-style: normal;
    font-size: 3em;
    left: 44vw;
    color: #0000ff;
}
/*Services that i provided*/
#Services_section p{
    position:absolute;
    left: 48vw;
    top: 50px;
}
/*UI/Ux development main div*/
#UI\/UX_Development{
    border: 2px solid red;
    flex-grow: 1;
}

/*UI/Ux development main div--> image*/
#UI\/UX_Development>img:nth-child(1){
    height: 211px;
    margin-top: 25px;
    margin-bottom: 19px;
}
/*UI/Ux development main div--> heading*/
#UI\/UX_Development>h3:nth-child(2){
    margin-bottom: 19px;
    font-size: 3em;
    margin-top: 23px;
    margin-left: 12px;
}
/*UI/Ux development main div--> blockquate*/
#UI\/UX_Development>blockquote:nth-child(3){
    margin-left: 12px;
}
/*UI/Ux development main div--> cite*/
#UI\/UX_Development>cite:nth-child(4){
    margin-left: 12px;
}
/*WebDevelopment development main div*/
#Web_Development{

    border: 2px solid red;
    flex-grow: 1;
}
/*Web development main div--> image*/
#Web_Development>img:nth-child(1){
    height: 211px;
    margin-top: 25px;
    margin-bottom: 19px;
    margin-left: 12px;
}

/* Web development main div--> heading*/
#Web_Development>h3:nth-child(2){
    margin-bottom: 19px;
    font-size: 3em;
    margin-top: 23px;
    margin-left: 12px;
}
/*Web development main div--> blockquate*/
#Web_Development>blockquote:nth-child(3){
    margin-left: 12px;
}
/*Web development main div--> cite*/
#Web_Development>cite:nth-child(4){
    margin-left: 12px;
}
/*Mobile development main div */
#Mobile_Development{
    border: 2px solid red;
    flex-grow: 1;
}
/*Mobile development main div--> image*/
#Mobile_Development>img:nth-child(1){
    height: 211px;
    margin-top: 25px;
    margin-bottom: 19px;
    margin-left: 12px;
}
/* Mobile  development main div--> heading*/
#Mobile_Development>h3:nth-child(2){
    margin-bottom: 19px;
    font-size: 3em;
    margin-top: 23px;
    margin-left: 12px;
}
/* Mobile  development main div--> blockquate*/
#Mobile_Development>blockquote:nth-child(3){
    margin-left: 12px;
}
/* Mobile  development main div--> cite*/
#Mobile_Development>cite:nth-child(4){
    margin-left: 12px;
}

/*===================================================Projects Page ===================================================*/
#Projects_Section{
    position: relative;
}
/*heading tag*/
#Projects{
    position: relative;
    font-style: normal;
    font-size: 3em;
    left: 44vw;
    color: #0000ff;
}
/*project that i had created*/
#Projects_Section>p:nth-child(2){
    position:absolute;
    left: 48vw;
    top: 64px;
}
/*image-->clinicSystem*/
#Projects_Section>section:nth-child(3)>img:nth-child(1){
    position: relative;
    left: 447px;
    top: 52px;
    height: 344px;
    width: 389px;
}
/*image-->WholeSaleSystem*/
#Projects_Section>section:nth-child(3)>img:nth-child(2){
    position: relative;
    left: 550px;
    top: 52px;
    height: 344px;
    width: 389px;
}
/*div --> viewMore*/
#Projects_Section>section:nth-child(3)>div:nth-child(3){
    position: relative;
    height: fit-content;
    width: fit-content;
    top: 68px;
    left: 850px;
}
